body {
    background-color: #ffffff;

}

hr {
    height: 0.5px;
    background-image: linear-gradient(to right, #120599, #9109C5);
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.512);
}

#logout_btn {
    vertical-align: middle;
    width: 200px;
    height: 45px;
    text-align: center;
    font-weight: 350;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 100px;
    background-image: linear-gradient(to right, #8B2707, #C62B09);

}

.section {
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#container1 {
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #120599, #9109C5);
    color: #ffffff;
    border-radius: 5px;
    padding: 25px 25px 25px 25px;

}
#notresult {
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #120599, #9109C5);
    color: #ffffff;
    border-radius: 5px;
    padding: 25px 50px 25px 25px;

}

#add_assessments_btn {
    margin-top: 20px;
    border-radius: 40px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    text-decoration: none;


}

#all_submissions_btn {
    margin-top: 20px;
    border-radius: 40px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    text-decoration: none;


}




.card {
    margin: 10px 10px 10px 10px;
    border-width: 1px;
    border-color: #120599;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background-image: linear-gradient(to right, #120599, #9109C5);
    color: #ffffff;
}

#card_btn {
    color: #000000;
    border-width: 1px;
    border-color: #120599;
    border-radius: 40px;

}


#back_btn {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

#h3_aa {
    margin-left: 10px;
}


#container_note {
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: linear-gradient(90deg, rgba(18, 5, 153, 0.1) 0.18%, rgba(145, 9, 197, 0.1) 100%);
    color: #000000;
    border-radius: 5px;
    padding: 25px 25px 25px 25px;

}

.form-control {
    border-width: 1px;
    border-color: #120599;
}

#form_btn {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 40px;
    background-image: linear-gradient(90deg, rgb(17, 5, 153) 0.18%, rgb(144, 9, 197) 100%);

}

.section {
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


#h3_aa {
    margin-left: 10px;
}

#h3_qa {
    margin-left: 10px;
    margin-bottom: 10px;
}

#h3_aa {
    margin-left: 10px;
}



#all_submissions {
    margin-top: 25px;
}


/* Adjust styles as needed */
.section {
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    /* Center the element horizontally */
    margin-top: 50px;
    /* Adjust as needed for vertical centering */

}

#thankyou {
    background: linear-gradient(to right, #120599, #9109C5);
    color: transparent;
    display: inline;
    background-clip: text;
    -webkit-background-clip: text;
    /* Fallback for older browsers */
}

.btn_in {
    background-image: linear-gradient(to right, #D52115, #EC9007);
    color: white;
    border: none;
}

.btn_cbb {
    background: linear-gradient(to right, #187910, #47F963);
    border: none;
    color: white;
}

.btn_g {
    background: linear-gradient(to right, #110599, #77CEFF);
    color: white;
    border: none;
}

.image-container {
    position: fixed;
    /* Use fixed positioning if you don't want it to move with scrolling */
    bottom: 90px;
    /* Adjust this value to control the distance above the bottom */
    left: 0px;
    display: flex;
    align-items: flex-end;
    /* Align images at the bottom */

}

.image-container img {
    margin-right: 10px;
    /* Adjust this value to control the space between the images */
}

.image-container2 {
    position: fixed;
    /* Use fixed positioning if you don't want it to move with scrolling */
    bottom: 0px;
    /* Adjust this value to control the distance above the bottom */
    left: 0px;
    /* Adjust this value to control the distance from the left */

    display: flex;
    align-items: flex-end;
    /* Align images at the bottom */
}

.image-container2 img {
    margin-right: 10px;
    /* Adjust this value to control the space between the images */
}