/*BGDesign CSS Start*/

#grad1{
    background-image: linear-gradient(#120599, #9109C5); 
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
}

#box1{
    background-color: #FFFFFF;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0.2;
    position: fixed;
    z-index: 1;
    width: 17.7vw;
    height: 11.7vh;
    top: 0;
    left: 75.3vw;
}

#box2{
    background-color: #FFFFFF;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    opacity: 0.2;
    position: fixed;
    z-index: 2;
    width: 11.6vw;
    height: 32.2vh;
    top: 2vh;
    right: 0;
}

#box3{
    background-color: #FFFFFF;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    opacity: 0.2;
    position: fixed;
    z-index: 3;
    width: 3.15vw;
    height: 27.7vh;
    top: 60.8vh;
    left: 0;
}

#box4{
    background-color: #FFFFFF;
    border-top-right-radius: 40px;
    opacity: 0.2;
    position: fixed;
    z-index: 4;
    width: 22.5vw;
    height: 29.2vh;
    bottom: 0;
    left: 0;
}
/*BGDesign CSS End*/


/*Content CSS Start*/
#bkbtn1{
    border-width: 0;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 6;
    top: 8vh;
    left: 8vw;
}

#bkImg1{
    height: 1.96vh;
    width: 1.96vh;
}

#bkLbl1{
    margin: 0;
    display: inline;
    padding-left: 2vw;
    color: #848387;
    font-size: 1.96vh;
    font-family: sans-serif;
}

#bkB1{
    display: flex;
    background-color: #FFFFFF;
    border-width: 0;
    color: #FFFFFF;
    align-items:center;
    cursor: pointer;
}

#lobtn1{
    border-width: 0;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 7;
    top: 8vh;
    right: 8vw;
}

#loLbl1{
    margin: 0;
    display: inline;
    color: #FFFFFF;
    font-size: 1.96vh;
    font-family: sans-serif;
}

#loB1{
    display: flex;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-image: linear-gradient(to right,#660000,#FF3333);
    border-radius: 16px;
    border-width: 0;
    color: #FFFFFF;
    align-items:center;
    cursor: pointer;
}

#content1{
    display: grid;
    align-content: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    position: fixed;
    z-index: 5;
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;
}

#span1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#txt1{
    font-family: sans-serif;
    font-size: 1.96vh;
    font-weight: bold;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

#txt2{
    color: #9109C5;
    font-family: sans-serif;
    font-size: 2.52vh;
    font-weight: bold;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

#txt3{
    color: #848387;
    font-family: sans-serif;
    font-size: 1.96vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

#txt4{
    font-family: sans-serif;
    font-size: 2.66vh;
    font-weight: bold;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

#hr1{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 2px;
    width: 80vw;
    background-color: #9109C5;
}

#txt5{
    color: #848387;
    font-family: sans-serif;
    font-size: 1.96vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

#txt6{
    color: #848387;
    font-family: sans-serif;
    font-size: 1.96vh;
}

#btn1{
    box-sizing: content-box;
    display: flex;
    background-image: linear-gradient(to left, #120599,#9109C5);
    width: 28vw;
    border-radius: 18px;
    border-width: 0;
    color: #FFFFFF;
    align-items:center;
    justify-content:end;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    cursor: pointer;
}

#underl1{
    border-bottom: 3px solid #9109C5;
    align-items: center;
}

#aCode{
    width: 28vw;
    height: 7vh;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    border-width: 0;
    font-family:sans-serif;
}

#aCode:focus{
    outline: #FFFFFF;
}

#acImg1{
    height: 1.26vh;
    width: 2.24vh;
}

#aCode::placeholder ,#btnLbl1{
    font-size: 1.96vh;
}

#btImg1{
    height: 2.1vh;
    width: 1.4vh;
}

#vr1{
    height: 2.66vh;
    width: 2.5px;
    background-color: #9109C5;
    margin-left: 1vw;
    margin-right: 1vw;
}


.powered-by {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin-right: 10px;
    color:  #ffffff81;
    font-size: 12px; /* Adjust the font size as needed */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Set a higher z-index */
  }
  
  .popup-box {
    padding: 25px;
    width: 500px;
    height: 250px;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    border-radius: 15px;
    z-index: 1000; /* Ensure higher z-index than the overlay */
  }
  

/*Content CSS End*/
