{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

    <div class="section">
        <div class="container-fluid" id="submissions">
            <div class="row">
                <a href="{% url 'Dashboard' %}">
                    <img src="{% static 'image/backbutton.png' %}" id="back_btn" alt="">
                </a>
                <h3 id="h3_aa"> All Submissions</h3>
            </div>
        </div>
        <div class="container-fluid" id="all_submissions">
            <div class="row" id="card_cont">
                {% for item in all_data %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><span style="color: #6A696E;">Candidate Name: </span>{{ item.user_name }}
                            </h5>
                            <p class="card-text"><span style="color: #6A696E;">Assessment Name: 
                                </span>{{ item.assessment_name }}</p>
                            <p class="card-text"><span style="color: #6A696E;">Assessment Type: 
                                </span>{{ item.assessmenttype }}</p>
                            <a class="btn" id="card_btn" href="{% url 'Result'  item.submission_id %}" role="button">View Analysis</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}




{% for que in all_data.all %}
<h1>{{ que.user_name }}</h1>
<video width="100%" height="60%" controls>
    <source src="{{ url }}{{ que.video }}" type="video/webm">
</video>
<hr>

{% endfor %}