<!DOCTYPE html>
<html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/assessments_dashboard.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/fav.png' %}">

</head>

<body id="grad1">
    <!-- Dynamic Background Design Starts-->
    <div id="box1"></div>
    <div id="box2"></div>
    <div id="box3"></div>
    <div id="box4"></div>
    <!-- Dynamic Background Design Ends-->

    <!--Page Content Starts-->

    <!--NavBar Starts-->
    <div id="bkbtn1">
        <a  style="text-decoration: none;" href="{% url 'Home' %}"> <button id="bkB1"><img src="{% static 'image/Icons/Vector (8).png' %}" id="bkImg1">
                <p id="bkLbl1">Back</p>
            </button></a>
    </div>

    <div id="lobtn1">
        <a style="text-decoration: none;"href="{% url 'logout' %}"><button id="loB1">
                <p id="loLbl1">Log Out</p>
            </button></a>
    </div>
    <!--NavBar Ends-->

    <div id="content1">
        <span id="span1">
            <p id="txt1">Hello Applicant!</p>
        </span>
        <span id="span1">
            <p id="txt2">Welcome to Virtual Interview</p>
        </span>
        <span id="span1">

        </span>
        <span id="span1">
            <p id="txt3">To get started, you will need a <b>front-facing camera and microphone.</b></p>
        </span>
        <span id="span1">
            <p id="txt1">Paste assessment code to continue virtual interview</p>
        </span>
        <form action="{% url 'Start_Assessments' %}">
            <span id="span1">
                <span id="underl1"><input type="text" id="aCode" name="assessment_code" placeholder="Assessment code"><img
                        src="{% static 'image/Icons/Vector (11).png' %}" id="acImg1"></span>
            </span>
            <br><br>
            <span id="span1">
                <button id="btn1" style="height: 4vh;">
                    <p id="btnLbl1">Proceed</p><span style="display: inline-block;width: 35%;"></span><img
                        src="{% static 'image/Icons/Vector (13).png' %}" id="btImg1"><span
                        style="display: inline-block;width: 5%;"></span>
                </button>
            </span>
        </form>
    </div>

    <div class="powered-by">
        Powered by Perfect Skills
    </div>

    <!--Page Content Ends-->

</body>

</html>