{% extends 'admin_base.html' %}
{% load static %}

{% block content %}


<div class="section">
    <div class="container-fluid" id="container1">
        <div class="row">
            <div class="col-lg-8">
                <h4>Hello, Admin!</h4>
                <p style="font-size: 15px;">Get hire the most talented candidates with Sophia. This will simplify
                    interview process for you!</p>
            </div>

            <div class="col-lg-2 ">
                <a class="btn btn-lg btn-block" id="add_assessments_btn" href="{% url 'Add_Assessments' %}"
                    role="button">Add Assessment</a>

            </div>
            <div class="col-lg-2">
                <a class="btn btn-lg btn-block" id="all_submissions_btn" href="{% url 'All_Submissions' %}"
                    role="button">All Submissions</a>

            </div>
        </div>

    </div>

    <div class="container-fluid" id="assessment">
        <div class="row" style="margin-bottom: 10px; margin-left: 10px;">
            <h3>Assessments</h3>
        </div>
        <div class="row" id="card_cont">
            {% for assessment in assessment.all %}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h5>{{ assessment.assessment_name }}</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Assessment Code:</h6>
                        <p class="card-text">{{ assessment.assessment_code }}</p>
                        <a class="btn" id="card_btn" href="add_questions/{{assessment.assId}}" role="button">Add
                            Questions</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>





{% endblock %}